<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>Name:</strong>
  <%= @intro.name %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @intro.hometown %>
</p>

<p>
  <strong>Content:</strong>
  <%= @intro.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @intro.image.to_s, :size =>'220x220' %> 
</p>

<%= link_to 'Edit', edit_intro_path(@intro) %> |
<%= link_to 'Back', intros_path %>
