<!DOCTYPE html>
<html>
  <head>
    <title>掲示板</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <div>{{ message }}</div>
    <script>
      leet app = new Vue({
        el:"#app",
        data: {
          message: "Trial"
        };
      })
    </script>
  </body>
</html>
